@import '../colors.scss';
.taskPage {
    padding: 1px 7.29vw;
    padding-bottom: 14.11vh;
    background-color: #fbfbfb;
    min-height: 83vh;
}

.taskTitle {
    color: $color-primary;
    padding: 48px 0 40px 0;
}

.sortBy p {
    color: $color-primary;
}

.tasks {
    margin-top: 8vh;
}

.tasks > div {
    margin: 0 48px 32px 48px;
}

.categories {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.categories .items > p {
    display: inline-flex;
    margin-right: 32px;
}
.activeFilter {
    color: $color-secondary;
}

.pButton {
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.pButton:hover {
    color: $color-secondary;
}

.locationIn {
    width: 100%;
}

.dialogLabel {
    color: $color-primary;
    margin: 2vh;
}