.sectionContainer {
    margin-top: 6vh;
    margin-left: 1.5vw;
}

.comment {
    width: 100%;
}

.navBarProfilePic{
    margin: auto;
    display: inline-block;
}

.ratingStar{
    float: left;
    margin-top: 15px;
    width: 70%;
    position: relative;
    height: 115px;
}

.ratingProfilePic{
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
}

