@import "../colors.scss";

.createTaskPage {
    padding: 0 15vw;
    padding-bottom: 25vh;
}

.createTaskTitle {
    display: flex;
    align-items: center;
    padding: .5vw 0vh;
}

.createTaskHeader{
    color: $color-primary;
}

.messageTask {
    height: 5vw;
}
