* {
  box-sizing: border-box;
}

.navBarItem {
  /* font-size: 20px; */
  /* font-family: Montserrat; */
  text-align: center;
  display: inline-block;
  width: 10%;
  padding: 0.75rem 0;
  margin: 0;
  text-decoration: none;
  color: #555555;
}

.navBarItem:hover{
  color: #00577F;
  transition: 0.3s ease-in-out;
}


.signIn {
  /* background: none; */
  /* display: inline-block; */
  margin-left: 10% !important;
  /* padding: 0px 30px; */
  /* border-color: #00577F; */
}

.signIn:hover{
  background: #d4d3d3;
  transition: 0.3s ease-in-out;
}

.home {
  margin-left: 10%;
}

.logo {
  font-family: Comfortaa;
  margin: auto;
  width: 20%;
  display: inline-block;
  color: #C06C84;
  text-align: center;
}

body {
  font: 300 100% "Helvetica Neue", Helvetica, Arial;
}

.navBar {
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-left: 5%;
  text-align: left;
}

ul li {
  display: inline;
  text-align: center;
}


.type:hover ~ hr {
  margin-left: 50%;
}

.aTask:hover ~ hr {
  margin-left: 40%;
}

.slider {
  align-content: center;
  margin-right: 10%;
  height: 2px !important;
  width: 10%;
  margin: -1%;
  margin-left: 30%;
  background: #00577F;
  border: none;
  transition: 0.3s ease-in-out;
}
