.home {
  padding-left: 80px;
  padding-right: 100px;
  padding-top: 150px;
}
.home-sub-title {
  display: flex;
}
.home-sub-title h5 {
  color: #00577f;
  display: flex;
  font-style: normal;
  font-weight: normal;
  margin-left: 1.74vw;
  align-self: center;
}
.line-before-home-sub-title {
  display: flex;
  background: #f8b195;
  width: 5.56vw;
  height: 0.56vh;
  align-self: center;
}
.home-title {
  margin-top: 4.67vh;
  width: 40vw;
  height: auto;
}
.home-title h1 {
  font-style: normal;
  font-weight: normal;
}

.pic{
  position: absolute;
  right: 100px;
  top: 200px;
  float: right;
}

.seeBlock{
    float: left;
    position: relative;
    height: 100px;
    width: 50%;
    background-color:whitesmoke;
    top: 150px;
    text-align: left;
    padding-left: 100px;  
    color: grey;
}

.matcherBlock{
  float: left;
  position: relative;
  height: 100px;
  width: 50%;
  background-color:lightcoral;
  top: 150px;
  text-align: left;
  padding-left: 70px;  
  color:#f8b195;
}

.blank{
  height: 300px;
}

.jobby{
  float: left;
  color: #00577f;
}

.seeall{
  float: right;
  color: grey;
}

