* {
  box-sizing: border-box;
}

p {
  font-size: 24px;
  margin-left: 20%;
  display: inline;
}

body {
  font: 300 100% "Helvetica Neue", Helvetica, Arial;
}

.container {
  width: 50%;
  margin: 0 auto;
  /* text-align: center; */
}

.flex-cont {
  display: flex;
}

ul li {
  display: inline;
  text-align: center;
}

a {
  display: inline-block;
  width: 25%;
  padding: 0.75rem 0;
  margin: 0;
  text-decoration: none;
  color: rgb(17, 16, 16);
}

.about:hover ~ hr {
  margin-left: 49%;
}

hr {
  height: 2px !important;
  width: 15%;
  margin: 0%;
  margin-left: 18%;
  background: tomato;
  border: none;
  transition: 0.3s ease-in-out;
}
