* {
    box-sizing: border-box;
  }

h1{
    position: absolute;
    width: 800px;
    height: 647.89px;
    left: -80px;
    top: 199px;
}

.SignIn{
    position: absolute;
    width: 125px;
    height: 39px;
    left: 855px;
    top: 199px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    
    color: #555555;
  }

 .email{
    position: absolute;
    width: 400px;
    height: 36.86px;
    left: 851px;
    top: 250px;
  }

  .password{
    position: absolute;
    width: 400px;
    height: 36.86px;
    left: 851px;
    top: 300px;
    
  }
  .signUp{
    position: absolute;
    width: 198px;
    height: 20px;
    left: 850px;
    top: 494px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #555555;
  }

  .linkSignUp{
    position: absolute;
    width: 198px;
    height: 20px;
    left: 1000px;
    top: 482px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #555555; 
  }

  .signInOr{
    position: absolute;
    width: 400px;
    height: 22px;
    left: 851px;
    top: 569px;
  }

  .loginButton{
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    
    position: absolute;
    width: 102px;
    height: 50px;
    left: 1148px;
    top: 477px;

    
    background: #F8B195;
  }

  .appleSignIn{
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
          
    position: absolute;
    width: 233px;
    height: 50px;
    left: 830px;
    top: 620px;
    
    background: #F6F6F6;

  }

  .facebookSignIn{
    display: flex;
    flex-direction: row;
    padding: 0px 0px;

    position: absolute;
    width: 50px;
    height: 50px;
    left: 1127px;
    top: 619px;

    background: #3B5998;
  }

  .gmailSignIn{
    display: flex;
    flex-direction: row;
    padding: 0px 0px;

    position: absolute;
    width: 50px;
    height: 50px;
    left: 1200px;
    top: 620px;

    background: #F6F6F6;
  }