@import "../colors.scss";

.registerPage {
  height: 100vh;
  width: 100vw;
}

.registerContent {
  height: 100vh;
}

.registerBackground {
  position: absolute;
  left: 0;
  height: 70vh;
  margin-top: 10vh;
}

.registerFormSection {
  margin: 1em 0;
}

.checkBoxLabel {
  margin: 0.5em 0;
  margin-left: 0.5em;
}

.checkBoxLine {
  margin: 1.2em 0;
  background: $color-ternary;
  border:none;
  height: 0.1em;
}

.registerChooseImg {
  border-radius: 50px;
}

.chooseImageTxt{
  font-size: 14px;
}

.chooseImg{
  vertical-align: middle;
}