@import '../colors.scss';

.registerPage {
    height: 100vh;
    width: 100vw;
    background-color: #fbfbfb;
}

.registerContent {
    height: 100vh;
}

.registerBackground {
    position: absolute;
    left: 0;
    height: 70vh;
    margin-top: 10vh;
}

.registerFormSection {
    margin: 1em 0;
}

.signUpHeader {
    color: $color-dark;
    font-size: 36px;
    font-weight: 300;
    margin: 32px 2%;
}

.checkBoxLabel {
    margin: 0.5em 0;
    margin-left: 0.5em;
}

.checkBoxLine {
    margin: 1.2em 0;
    background: $color-ternary;
    border: none;
    height: 0.1em;
}

.registerChooseImg {
    border-radius: 50px;
}

.chooseImageTxt {
    font-size: 14px;
}

.chooseImg {
    vertical-align: middle;
}

.signInLink {
    color: $color-secondary;
}

.signupBtn {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 40px;
}
